<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="1800" status="trace">

    <Filter type="ThresholdFilter" level="trace"/>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
            <ThresholdFilter level="info" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>

        <Kafka name="Kafka1" topic="req_log" syncSend="false">
            <MarkerFilter marker="REQ" onMatch="ACCEPT" onMismatch="DENY"/>
<!--            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <PatternLayout pattern="%d{UNIX_MILLIS},%message"/>
            <Property name="bootstrap.servers">${env:KAFKA1}:9092</Property>
        </Kafka>

        <Kafka name="Kafka2" topic="login_log" syncSend="false">
            <MarkerFilter marker="LOGIN" onMatch="ACCEPT" onMismatch="DENY"/>
<!--            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <PatternLayout pattern="%d{UNIX_MILLIS},%message"/>
            <Property name="bootstrap.servers">${env:KAFKA1}:9092</Property>
        </Kafka>

    </Appenders>
    <Loggers>
        <Root level="WARN">
            <!-- TRACE < DEBUG < INFO < WARN < ERROR < FATAL -->
            <AppenderRef ref="console"/>
            <AppenderRef ref="Kafka1"/>
            <AppenderRef ref="Kafka2"/>
        </Root>
    </Loggers>
</Configuration>