<div class="zh-general-list clearfix">
    <div class="zm-profile-card zm-profile-section-item zg-clear no-hovercard">
        <div class="zg-right">
            <button class="zg-btn zg-btn-unfollow zm-rich-follow-btn small nth-0
                                    js-follow-user" data-status="1" data-id="1">取消关注
            </button>
        </div>
        <a title="Barty" class="zm-item-link-avatar" href="/user/1">
            <img src="http://images.nowcoder.com/head/47t.png" class="zm-item-img-avatar">
        </a>
        <div class="zm-list-content-medium">
            <h2 class="zm-list-content-title"><a data-tip="p$t$buaabarty" href="/user/1" class="zg-link" title="Barty">user0</a>
            </h2>
            <div class="details zg-gray">
                <a target="_blank" href="/user/1/followers" class="zg-link-gray-normal">1粉丝</a>
                <a target="_blank" href="/user/1/followees" class="zg-link-gray-normal">0关注</a>
                <a target="_blank" href="#" class="zg-link-gray-normal">1847
                    回答</a>
                <a target="_blank" href="#" class="zg-link-gray-normal">548 赞同</a>
            </div>
        </div>
    </div>
</div>